.QuestionCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .title,.question{
    align-self: center;
    margin-bottom: 10px;
  }

  .answerList{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
   }
}

